#menu-nav-home-banner{
    background-color: #fff !important;
    background-size: cover;
    background-repeat: no-repeat;
}

#menu-nav-home-banner a{
    font-family: 'Montserrat', sans-serif; 
    text-transform: unset;
    font-weight: 600;
    color: #000;
}

#menu-nav-home-banner a.link:hover{
    color: #0842A9;
}

#menu-nav-home-banner a.logo-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: ease-in-out 0.2s;
}

#menu-nav-home-banner a.logo-header:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
}

#menu-nav-home-banner a.logo-header strong{
    color: #0842A9;
    font-weight: 700;
}

#menu-nav-home-banner .uk-button-default{
    background-color: #D9D9D9;
    color: #205DC9;
    border-radius: 20px;
    opacity: 0.7;
    text-transform: unset;
}

#menu-nav-home-banner .uk-button-default:hover{
    opacity: 1;
}

#menu-nav-home-banner .uk-button-logout{
    background-color: #D9D9D9;
    color: #ef0404;
    border-radius: 20px;
    opacity: 0.7;
    text-transform: unset;
}

#menu-nav-home-banner .uk-button-logout:hover{
    opacity: 1;
}

#menu-nav-home-banner .uk-navbar-container:not(.uk-navbar-transparent){
    background-color: #fff;
}

#hp-banner-header{
    background: linear-gradient(to right, #0842A9, #3CA3F4);
    padding-top: 50px;
    padding-bottom: 30px;
}

#hp-banner-header h1{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 700;
}

#hp-banner-header h3{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 700;
}

#hp-banner-header label{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

#hp-banner-header  .button-space button{
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 700;
    background: linear-gradient(to right, #FEA007, #FC4419);
    border-radius: 5px;
}

#hp-banner-header .button-nutritionist-banner{
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 700;
    background: linear-gradient(to right, #FEA007, #FC4419);
    border-radius: 5px;
    border: unset;
}
#hp-banner-header .button-nutritionist-banner img{
    margin-bottom: 3px;
}

#hp-banner-header .form-container{
    background: #000;
    padding: 40px;
    opacity: 0.8;
    border-radius: 20px;
    margin-bottom: unset !important;
    margin-top: unset !important;
    padding-bottom: unset;
}

#hp-banner-header #resultado {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 25px;
}

#hp-banner-header input{
    border-radius: 10px;
}
#hp-banner-header select{
    border-radius: 10px;
}

#hp-banner-header p{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

#hp-banner-header .box-subscription{
    opacity: 0.8;
    color: #fff;
    border-radius: 5px;
}

#hp-banner-header .box-subscription .button-1{
    background: linear-gradient(to right, #FEA007, #FC4419);
    border-radius: 5px;
    border: unset;
    text-transform: unset;
    font-family: 'Montserrat', sans-serif;
    color: #fff ;
    font-weight: 700;
}

#hp-banner-header .box-subscription button.button-2{
    background-color: #fff !important;
    color: #0842A9 !important;
    font-family: 'Montserrat', sans-serif;
    text-transform: unset;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

#hp-banner-header .box-subscription input{
    width: 60% !important;
    border-radius: 5px;
    border: unset;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}


#hp-banner-header form{
    margin-top: 50px;
}

#hp-banner-header .cards-item h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 40px;
    margin-bottom: 5px !important;
}

#hp-banner-header .cards-item p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#hp-banner-header *+address, *+dl, *+fieldset, *+figure, *+ol, *+p, *+pre, *+ul{
    margin-top: unset !important;
}

#hp-gym-benefits{
    padding-top: 80px;
    padding-bottom: 40px;
}

#hp-gym-benefits h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-bottom: 40px;
}

#hp-gym-benefits .cards-border {
    border: 3px solid #205DC9;
    border-radius: 20px;
}

#hp-gym-benefits .card-benefits-secondary{
    background-color: #205DC9;
}

#hp-gym-benefits .card-benefits-secondary h3{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#hp-gym-benefits .card-benefits-secondary p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: left;
}

#hp-gym-benefits .card-benefits-secondary a{
    color: #fff;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

#hp-gym-benefits .card-benefits h3{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#hp-gym-benefits .card-benefits p{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: left;
}

#hp-gym-benefits .card-benefits a{
    color: #000;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

#hp-about-us{
   padding-bottom: 50px; 
}

#hp-about-us h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-bottom: 40px;
}
#hp-about-us p{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
}
#hp-about-us strong{
    color: #095BEC;
}

#hp-about-us a{
    background: linear-gradient(to right, #FEA007, #FC4419);
    border-radius: 5px;
    border: unset;
    text-transform: unset;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
}

#hp-about-us a:hover{
    transform: scale(1.5);
    transition: ease-in-out 0.2s;
    text-decoration: unset;
}

#hp-services-offered{
    background-color: #205DC9;
    padding-top: 80px;
    padding-bottom: 80px;
}

#hp-services-offered h2{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
}
#hp-services-offered h1{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
#hp-services-offered p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#hp-services-offered label{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#hp-services-offered .button-calculator{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: linear-gradient(to right, #FEA007, #FC4419);
    border-radius: 5px;
}

#hp-services-offered .subtitle{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 50px;
}

#hp-services-offered .card-services{
    border: 2px solid #fff;
    color: #fff;
    opacity: 0.75;
    border-radius: 15px;
}

#hp-services-offered .card-services p{
    color: #fff;
}

#hp-services-offered .card-services h3{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-bottom: 30px;
}

#hp-services-offered a{
    background: linear-gradient(to right, #FEA007, #FC4419);
    border-radius: 5px;
    border: unset;
    text-transform: unset;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
}

#hp-services-offered .button-middle{

    margin-top: 30px;

}

#hp-services-offered .calculator-section{

    padding: 20px;
    background: #000;
    opacity: 0.7;
    border-radius: 20px;

}

#box-feedback{
    padding-top: 70px;
    padding-bottom: 70px;
    background: linear-gradient(to right, #FEA007, #FC4419);
}

#box-feedback h1{    
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
}

#box-feedback h2{
    padding-bottom: 50px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
}

#box-feedback .title-home{
    padding-bottom: unset;
}
#box-feedback .text-home{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-bottom: 50px;
}

#box-feedback .button-card-diet{
    background: linear-gradient(to right, #3CA3F4, #0842A9);
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    font-weight: 700;
    color: #fff;
    transition: ease-in-out 0.2s
}
#box-feedback .button-card-diet:hover{
    background: linear-gradient(to right, #FEA007, #FC4419);
    color: #fff;
}
#box-feedback .uk-card-body.cards-new-home{
    padding: 10px;
    opacity: 0.9;
}

#box-feedback .uk-card-body.cards-new-home:hover{

    transform: scale(1.02) !important;
    transition: ease-in-out 0.2s !important;
}


#box-feedback .cards-feedback{
    background-color: #ffffff;
    border-radius: 20px;
}

#box-feedback h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#box-feedback p{
    font-family: 'Montserrat', sans-serif;
}


#hp-trainners{
    padding-top: 70px;
    padding-bottom: 40px;
    background: linear-gradient(to right, #003a67, #232c3c);
    
}

#hp-trainners h2{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    color: #FFFFFF;
}

#hp-trainners p{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}

#hp-trainners strong{
    color: #FFFFFF;
    font-weight: 700;
}

#hp-trainners .container-slide a{
    background: linear-gradient(to right, #FEA007, #FC4419);
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

#hp-trainners .container-slide a:hover{
    background: linear-gradient(to right, #3CA3F4, #224f9c);
    color: #fff;
}

#hp-trainners .uk-grid>*>:last-child{
    min-height: 550px;
}

#diet-meal-plan{
    background: linear-gradient(to right, #FEA007, #FC4419);
    padding-top: 80px;
    padding-bottom: 80px;
}

#diet-meal-plan h2{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    color: #FFFFFF;
}

#diet-meal-plan p{
    font-size: 21px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 80px;
}

#diet-meal-plan .button-meal-cards{
    background: linear-gradient(to right, #3CA3F4, #224f9c);
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

#diet-meal-plan .button-meal-cards:hover{
    background: linear-gradient(to right, #003a67, #232c3c);

}
#diet-meal-plan .card-middle{
    margin-top: 50px;
}

#diet-meal-plan .cards{
    margin-top: 80px;
}

#diet-meal-plan .cards .card{
    opacity: 0.9;
    border-radius: 20px;
}


#diet-meal-plan .cards p{
    font-size: 13px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 80px;
}

#diet-meal-plan .cards h3{
    font-size: 18px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#chalenge-food{
    background: linear-gradient(to right, #003a67, #232c3c);
    padding-top: 70px;
    padding-bottom: 70px;
}

#chalenge-food h2{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

#chalenge-food p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#chalenge-food .cards{
    margin-top: 65px;
}

#chalenge-food .cards .card{
    opacity: 0.9;
    border-radius: 10px;
}

#chalenge-food .cards .card h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

#chalenge-food .cards .card p{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#chalenge-food .divisor-text {
margin-bottom: 30px;
}

#chalenge-food .cards .text-button{
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    display: inline-block;
}

#chalenge-food .button-middle{
    margin-top: 70px;
}

#chalenge-food .button-challenge{
    background: linear-gradient(to right, #FEA007, #FC4419);
    color: #fff;
    text-transform: initial;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    border-radius: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 140px;
    padding-right: 140px;
}

#about-team-nutrition{
    padding-top: 70px;
    padding-bottom: 70px;
    background: linear-gradient(to right, #FEA007, #FC4419);

}

#about-team-nutrition .button-nutritionist-team{
    background: linear-gradient(to right, #3CA3F4, #224f9c);
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    border: unset;
}

#about-team-nutrition h2{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

#about-team-nutrition p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#customized-solutions{
    padding-top: 70px;
    padding-bottom: 70px;
    background: linear-gradient(to right, #003a67, #232c3c);
}

#customized-solutions .banner-custom-solution{
    color: #FEA007;
}

#customized-solutions h2{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

#customized-solutions p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#customized-solutions .uk-card-default{
    background-color: unset;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    opacity: 0.6;
}

#customized-solutions .uk-card-default h3{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#customized-solutions .uk-card-default p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#site-support{
    background: linear-gradient(to right, #FEA007, #FC4419);
    padding-top: 100px;
    padding-bottom: 100px;
}

#site-support h2{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
}

#site-support .uk-card-default{
    background-color: unset;
    border: 1px solid #fff;
}

#site-support .uk-card-default h3{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#site-support .uk-card-default p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#talk-to-us{
    padding-top: 80px;
    padding-bottom: 80px;
    background: linear-gradient(to right, #003a67, #232c3c);
}

#talk-to-us h2{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
}

#talk-to-us p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#talk-to-us a{
    background: linear-gradient(to right, #FEA007, #FC4419);
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    border: unset;
}