#menu-nav-home-banner{
    background-color: #fff !important;
    background-size: cover;
    background-repeat: no-repeat;
}

#menu-nav-home-banner a{
    font-family: 'Montserrat', sans-serif; 
    text-transform: unset;
    font-weight: 600;
    color: #000;
}

#menu-nav-home-banner a.link:hover{
    color: #0842A9;
}

#menu-nav-home-banner a.logo-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: ease-in-out 0.2s;
}

#menu-nav-home-banner a.logo-header:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
}

#menu-nav-home-banner a.logo-header strong{
    color: #0842A9;
    font-weight: 700;
}

#menu-nav-home-banner .uk-button-default{
    background-color: #D9D9D9;
    color: #205DC9;
    border-radius: 20px;
    opacity: 0.7;
    text-transform: unset;
}

#menu-nav-home-banner .uk-button-default:hover{
    opacity: 1;
}

#menu-nav-home-banner .uk-button-logout{
    background-color: #D9D9D9;
    color: #ef0404;
    border-radius: 20px;
    opacity: 0.7;
    text-transform: unset;
}

#menu-nav-home-banner .uk-button-logout:hover{
    opacity: 1;
}

#menu-nav-home-banner .uk-navbar-container:not(.uk-navbar-transparent){
    background-color: #fff;
}

#hp-banner-header{
    background: linear-gradient(to right, #0842A9, #3CA3F4);
    padding-top: 50px;
    padding-bottom: 30px;
}

#hp-banner-header h1{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 700;
}

#hp-banner-header p{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

#hp-banner-header .box-subscription{
    opacity: 0.7;
    color: #fff;
    border-radius: 5px;
}

#hp-banner-header .box-subscription button{
    background: linear-gradient(to right, #FEA007, #FC4419);
    border-radius: 5px;
    border: unset;
    text-transform: unset;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 700;
}

#hp-banner-header .box-subscription input{
    width: 60% !important;
    border-radius: 5px;
    border: unset;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}


#hp-banner-header form{
    margin-top: 50px;
}

#hp-banner-header .cards-item h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 40px;
    margin-bottom: 5px !important;
}

#hp-banner-header .cards-item p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#hp-banner-header *+address, *+dl, *+fieldset, *+figure, *+ol, *+p, *+pre, *+ul{
    margin-top: unset !important;
}

#hp-gym-benefits{
    padding-top: 80px;
    padding-bottom: 40px;
}

#hp-gym-benefits h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-bottom: 40px;
}

#hp-gym-benefits .cards-border {
    border: 3px solid #205DC9;
    border-radius: 20px;
}

#hp-gym-benefits .card-benefits-secondary{
    background-color: #205DC9;
}

#hp-gym-benefits .card-benefits-secondary h3{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#hp-gym-benefits .card-benefits-secondary p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: left;
}

#hp-gym-benefits .card-benefits-secondary a{
    color: #fff;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

#hp-gym-benefits .card-benefits h3{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#hp-gym-benefits .card-benefits p{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: left;
}

#hp-gym-benefits .card-benefits a{
    color: #000;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

#hp-about-us{
   padding-bottom: 50px; 
}

#hp-about-us h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-bottom: 40px;
}
#hp-about-us p{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
}
#hp-about-us strong{
    color: #095BEC;
}

#hp-about-us a{
    background: linear-gradient(to right, #FEA007, #FC4419);
    border-radius: 5px;
    border: unset;
    text-transform: unset;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
}

#hp-about-us a:hover{
    transform: scale(1.5);
    transition: ease-in-out 0.2s;
    text-decoration: unset;
}

#hp-services-offered{
    background-color: #205DC9;
    padding-top: 80px;
    padding-bottom: 80px;
}

#hp-services-offered h2{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#hp-services-offered .subtitle{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 50px;
}

#hp-services-offered .card-services{
    border: 2px solid #fff;
    color: #fff;
    opacity: 0.6;
    border-radius: 15px;
}

#hp-services-offered .card-services p{
    color: #fff;
}

#hp-services-offered .card-services h3{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-bottom: 30px;
}

#hp-services-offered a{
    background: linear-gradient(to right, #FEA007, #FC4419);
    border-radius: 5px;
    border: unset;
    text-transform: unset;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
}
