*{
    box-sizing: border-box;
    margin: 0;
}

#payment-section {
    text-transform: uppercase;
}

.container {
    min-height: 100vh;
    background: linear-gradient(to right, #FEA007, #FC4419);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 80px;
    padding-bottom: 80px;
}

.container form {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 600px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    padding-top: 160px;
}

.container form .inputBox{
   margin-top: 20px; 
}

.container form .inputBox span {
    display: block;
    color: #999;
    padding-bottom: 5px;
}

.container form .inputBox input,
.container form .inputBox select {
    width: 100%;
    outline: none;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    color: #444;
}

.container form .flexbox{
    display: flex;
    gap: 15px;
}

.container form .flexbox .inputBox{
    flex: 1 1 150px;
}

.submit-btn{
    background: linear-gradient(to right, #0842A9, #3CA3F4);
    border-radius: 5px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
    padding: 15px 10px;
    border: none;
    font-weight: 700;
}

.container .card-container{
margin-bottom: -150px;
position: relative;
height: 250px;
width: 400px;
}

.card span, .box span {
    color: #fff;
    font-weight: 700;
}

.card-holder-name{
    color: #0d0d0d;
    font-weight: 600;
}

.container .card-container .card{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    background: linear-gradient(to right, #0842A9, #3CA3F4);
    border-radius: 5px;
    backface-visibility: hidden;
    padding: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    transform: perspective(1000px) rotateY(0deg);
    transition:transform .4s ease-out;
}

.container .card-container .card .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.container .card-container .card .image img{
    height: 50px;
}

.container .card-container .card .card-number-box{
    padding: 30px 0;
    color: #FEA007;
    font-size: 22px;
}


.container .card-container .card .flexbox{
    display: flex;
}

.container .card-container .card .flexbox .box:nth-child(1){
 margin-right: auto;   
}

.container .card-container .card .flexbox .box{
    font-size: 15px;
    color: #fff;
}

.container .card-container .back{
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #0842A9, #3CA3F4);
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    transform: perspective(1000px) rotateY(180deg);
    transition: transform .4s ease-out;
}

.container .card-container .back .stripe{
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.container .card-container .back .box {
    padding: 0 20px;
}

.container .card-container .back .box span {
    color: #fff;
    font-size: 15px;
}

.container .card-container .back .box .cvv-box{
    height: 50px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    color: #333;
    background: #fff;
    border-radius: 5px;
}

.container .card-container .back .box img {
    margin-top: 30px;
    height: 30px;   
}