* {
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Grid dos Acessórios*/
  
  .banner-img {
    display: flex;
    align-items: end;
    justify-content: center;
    background-image: url(../img/banner-background.webp);
    background-color: rgba(0, 0, 0, 0.5);
    background-position: 50% 35%;
    width: 100%;
    height: 600px;
    margin-bottom: 60px;
  }
  
  .product-title {
    font-size: 30px;
    padding: 25px;
    color: #fff;
    width: 100%;
    text-align: center;
    background-color: #3286cabc;
  }  

  .accessories-container{
    background-color: #205DC9;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .accessories-container h2,.accessories-container p{
    color: #fff;
  }

  .productsImg{
    border-radius: 25px;
  }
  
  .productsImg:hover{
    transform: scale(1.02);
    cursor: pointer;
  }

  .accessories-group {
    display: flex;
    padding: 30px;
    height: 300px;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    column-gap: 80px;
  }
  
  .button-grid {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .accessories-page-button {
    width: 100px;
    margin: 25px auto;
    padding: 15px;
    background-color: #3286ca;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .accessories-page-button:hover{
      background-color: #fff;
      color: #3286ca;
      transition: .3s;
  }
  
  /* Grid dos Suplementos